<br><br><br>
<div class="container">
<h2 class="amber-text"> Let's chat, shall we? </h2>
<h5> If you are liking what you see then choose your preferred method of contact below and let's see if we are a fit!</h5>
<br><br><br>
<div class="row">
  <div class="col s6">
    <div class="icon-block center">
      <h2 class="center black-text">
        <i class="medium material-icons">email</i>
      </h2>
      <h5>jillmd501@gmail.com</h5>
    </div>
  </div>
  <div class="col s6">
    <div class="icon-block center">
      <h2 class="center black-text">
        <i class="medium material-icons">stay_current_portrait</i>
      </h2>
      <h5>804.380.0357</h5>
    </div>
  </div>
  <div class="col s6">
    <div class="icon-block center ">
      <h2 class="center black-text">
        <i class="medium material-icons">language</i>
      </h2>
      <a class="black-text" href="https://www.github.com/jillmd501">GitHub</a></li>
    </div>
  </div>
  <div class="col s6">
    <div class="icon-block center">
      <h2 class="center black-text">
        <i class="medium material-icons">chat_bubble_outline</i>
      </h2>
      <a class="black-text" href="http://www.my5iveyearplan.tumblr.com/">My Blog</a></li>
    </div>
  </div>
  <div class="col s6">
    <div class="icon-block center">
      <h2 class="center black-text">
        <i class="medium material-icons">perm_identity</i>
      </h2>
      <a class="black-text" href="https://www.linkedin.com/in/jill-donohue-11832844">LinkedIn</a></li>
    </div>
  </div>
  <div class="col s6">
    <div class="icon-block center">
      <h2 class="center black-text">
        <i class="medium material-icons">settings</i>
      </h2>
      <a class="black-text" href="http://turing.io/">Information on Turing School</a></li>
    </div>
  </div>
</div>
</div>
