<div class="container">
  <br><br><br>
  
  <h5>1. How do you even know about this stuff?</h5>
  <blockquote id="faqquote">
	I started the Turing School of Software & Design in August 2015 and graduated in March 2016 after many months of 60 hour weeks.  While Turing taught me all the fundamentals of (and then some) building software and applications from the ground up, there wasn't much time for design fun.  As a result, I took matters into my own hands.  
  </blockquote>

  <h5>2. Why the name 'Girl Boss Designs?'</h5>
  <blockquote id="faqquote">
  	I have grown up in a family with a history of female bad asses.  My mother and grandmother went on to defy gender stereotypes and both took on medical positions within the Army.  I was fortunate to have two incredible inspirations growing up in an environment where if you worked hard enough, anything was possible - even as a woman.  I want to start a revolution of women (and men!) to ignite a fire within themselves to go after a dream that you "shouldn't do."  Nothing inspires me more than someone telling me that I cannot do something.  Let's go on this adventure together.
  </blockquote>

  <h5>3. What tools will you be using?</h5>
  <blockquote id="faqquote">
    I wanted to start this site to help out fellow entrepreneuers who may not necessaruly have the expertise in web design, but want to still be able have full control of their own site.  To accomplish this, I have learned how to write and customize WordPress sites.  However, I am also well versed in Ruby, Rails, and a handful of other languages.  Every site is handcrafted for your needs so let's have a talk already!
  </blockquote>

  <h5>4. How much does it cost?</h5>
  <blockquote id="faqquote">
  	I have a few set prices, but every project is different and I am more than happy to negotiate.
  </blockquote>
  
</div>