<div class="container">
  <br><br><br>
  <h5>1. How do you even know about this stuff?</h5>
  <blockquote id="faqquote">
	Good question!  I started the Turing School of Software & Design in August 2015 and graduated in March 2016 after many months of 60 hour weeks.  While Turing taught me all the fundamentals of (and then some) building software and applications from the ground up, there wasn't much time for design fun.  As a result, I took matters into my own hands.  
  </blockquote>
</div>