<br>
<div class="container">

  <br><br>

  <blockquote id="mainquote">
    "If you don't have big dreams & goals, you'll end up working really hard for someone who does."
  </blockquote>

  <br><br><br><br>

  <div class="row">
    <div class="col s4">
      <div class="icon-block center">
        <h2 class="center text"><i class="medium material-icons">mode_edit</i></h2>
      <h5>Start Your Business</h5>
        <p>Keep coming back to the same idea over and over again? It is probably about time you stop ignoring it.</p>
      </div>
    </div>
    <div class="col s4">
      <div class="icon-block center">
        <h2 class="center text"><i class="medium material-icons">trending_up</i></h2>
      <h5>Grow Your Business</h5>
        <p>Got your business going, but you aren't seeing the results you expected?  Let's talk.</p>
      </div>
    </div>
    <div class="col s4">
      <div class="icon-block center">
        <h2 class="center text"><i class="medium material-icons">delete</i></h2>
      <h5>Start Over</h5>
        <p>Maybe you're switching careers or switching lives completely.  It's ok to start over - let me help.</p>
      </div>
    </div>
  </div>
</div>