<div class="container">
  <h1 class="center">Be your own boss.</h1>

  <div class="row">
    <div class="col s8 offset-s4">
      <img src= "https://s-media-cache-ak0.pinimg.com/474x/0b/7e/e2/0b7ee2db11aabbd146464392f02c8bd3.jpg">
    </div>
  </div>

  <div class="row">
    <div class="col s4">
      <div class="icon-block center">
        <h2 class="center teal-text"><i class="medium material-icons">stars</i></h2>
      <h5>Stop Worrying.</h5>
        <p>I can remember showing up to a certain campsite outside of Nederland that had turned into a drifter compound.  I ended up turning around and wasting a couple of hours trying to find a safer spot.  Never again.</p>
      </div>
    </div>
    <div class="col s4">
      <div class="icon-block center">
        <h2 class="center teal-text"><i class="medium material-icons">location_on</i></h2>
      <h5>Stop Guessing.</h5>
        <p>There is nothing worse than finding a cool hike online only to spend the first hour  trying to find a trailhead.  Get detailed directions and never go in circles again.</p>
      </div>
    </div>
    <div class="col s4">
      <div class="icon-block center">
        <h2 class="center teal-text"><i class="medium material-icons">forum</i></h2>
      <h5>Stop the Silence.</h5>
        <p>Read real and personal reviews about your hiking or camping experience.  Recommend bringing a couple of brews for a hidden view? Tell each other aabout it!</p>
      </div>
    </div>
  </div>
</div>