<br><br>
  <div class="row">
    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img src="https://s-media-cache-ak0.pinimg.com/564x/0b/7e/e2/0b7ee2db11aabbd146464392f02c8bd3.jpg">
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img src="https://s-media-cache-ak0.pinimg.com/474x/fd/3c/5c/fd3c5c738491a5cc0588837f35cafd5c.jpg">
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img src="https://s-media-cache-ak0.pinimg.com/564x/d1/bd/5a/d1bd5a7fcca22fa0cc3cd24c8d680abd.jpg">
        </div>
      </div>
    </div>
  </div>
