<!DOCTYPE html>
<html>
  <head>
    <title>GirlBoss</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,900italic,700italic,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
	<div class="navbar-fixed">
		<nav>
		  <div class="nav-wrapper">
		    <a href="/" class="brand-logo center" id="company"> Girl Boss Designs</a>
		    <ul class="right hide-on-med-and-down">
		      <li class="active"><a href="/contact" id="letschat">Let's Chat</a></li>
		    </ul class="left hide-on-med-and-down">
		    <ul>
<!-- 		      <li><a href="/about">About Me</a></li>
 -->		      <li><a href="/" id="inspiration">Inspiration</a></li>
<!-- 		      <li><a href="/skills">Skills</a></li>
 -->		      <li><a href="/" id="portfolio">Portfolio</a></li>
		    </ul>
		  </div>
		</nav>
	</div>

    <%= yield %>
  </body>
</html>
