<!DOCTYPE html>
<html>
  <head>
    <title>GirlBoss</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,900italic,700italic,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100italic,200,100,300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
	<div class="navbar-fixed">
		<nav>
		  <div class="nav-wrapper">
		    <a href="/" class="brand-logo center" id="company"> Girl Boss Designs</a>
		    <ul class="right hide-on-med-and-down">
		      <li><a href="/faq" id="faq">FAQ</a></li>
		      <li><a href="/contact" id="letschat">Let's Chat</a></li>
		    </ul class="left hide-on-med-and-down">
		    <ul>
<!-- 		      <li><a href="/about">About Me</a></li>
-->		      <li><a href="/inspiration" id="inspiration">Inspiration</a></li>
<!-- 		      <li><a href="/skills">Skills</a></li>
-->		      <li><a href="https://www.github.com/jillmd501" id="portfolio">Portfolio</a></li>
		    </ul>
		  </div>
		</nav>
	</div>

    <%= yield %>

    <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <p class="grey-text">Don't be afraid to get a little bossy.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <ul>
                  <li><a class="grey-text" href="https://www.instagram.com/jillmd501/">Instagram</a></li>
                  <li><a class="grey-text" href="#!">Facebook</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Girl Boss Designs
            </div>
          </div>
        </footer>
  </body>
</html>
